<!DOCTYPE html>
<html>
<head>
<title>TRADUCTOR</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shorcut-icon" href="{{ url_for('static', filename='css/favicon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="peticion">
 <form method="POST" action="/">
<label for="traducir">Texto que deseas Traducir</label>
<input type="text" id="traducir" spellcheck="false" name="traducir" autocomplete="off" required>
<p>
<label for="idiomas">Traducir de:</label>
<select id="idiomas" name="idioma1">
<option value="auto">Detectar Idioma</option>
<option value="es">Español</option>
<option value="en">Inglés</option>
<option value="de">Alemán</option>
<option value="af">Afrikaans</option>
<option value="sq">Albanés</option>
<option value="ar">Árabe</option>
<option value="hy">Armenio</option>
<option value="az">Azerbaiyano</option>
<option value="eu">Vasco</option>
<option value="be">Bielorruso</option>
<option value="bn">Bengalí</option>
<option value="bs">Bosnio</option>
<option value="ca">Catalán</option>
<option value="hr">Croata</option>
<option value="cs">Checo</option>
<option value="da">Danés</option>
<option value="nl">Neerlandés</option>
<option value="eo">Esperanto</option>
<option value="et">Estonio</option>
<option value="tl">Filipino</option>
<option value="fi">Finlandés</option>
<option value="fr">Francés</option>
<option value="gl">Gallego</option>
<option value="ka">Georgiano</option>
<option value="el">Griego</option>
<option value="gu">Gujarati</option>
<option value="ht">Criollo haitiano</option>
<option value="ha">Hausa</option>
<option value="he">Hebreo</option>
<option value="hi">Hindi</option>
<option value="hu">Húngaro</option>
<option value="is">Islandés</option>
<option value="ig">Igbo</option>
<option value="id">Indonesio</option>
<option value="ga">Irlandés</option>
<option value="it">Italiano</option>
<option value="ja">Japonés</option>
<option value="jw">Javanés</option>
<option value="kn">Kannada</option>
<option value="kk">Kazajo</option>
<option value="km">Jemer</option>
<option value="ko">Coreano</option>
<option value="ku">Kurdo</option>
<option value="ky">Kirguís</option>
<option value="la">Latín</option>
<option value="lv">Letón</option>
<option value="lt">Lituano</option>
<option value="lb">Luxemburgués</option>
<option value="mk">Macedonio</option>
<option value="ml">Malayalam</option>
<option value="mn">Mongol</option>
<option value="mi">Maorí</option>
<option value="mr">Marathi</option>
<option value="my">Birmano</option>
<option value="ne">Nepalí</option>
<option value="no">Noruego</option>
<option value="ny">Nyanja</option>
<option value="or">Odia</option>
<option value="om">Oromo</option>
<option value="ps">Pastún</option>
<option value="fa">Persa</option>
<option value="pl">Polaco</option>
<option value="pt">Portugués</option>
<option value="pa">Panjabi</option>
<option value="qu">Quechua</option>
<option value="ro">Rumano</option>
<option value="ru">Ruso</option>
<option value="sr">Serbio</option>
<option value="si">Cingalés</option>
<option value="sk">Eslovaco</option>
<option value="sl">Esloveno</option>
<option value="so">Somalí</option>
<option value="su">Sundanés</option>
<option value="sw">Suajili</option>
<option value="sv">Sueco</option>
<option value="tg">Tayiko</option>
<option value="ta">Tamil</option>
<option value="te">Telugu</option>
<option value="th">Tailandés</option>
<option value="tr">Turco</option>
<option value="uk">Ucraniano</option>
<option value="ur">Urdu</option>
<option value="vi">Vietnamita</option>
<option value="cy">Galés</option>
<option value="xh">Xhosa</option>
<option value="yi">Yidis</option>
<option value="zu">Zulú</option>
<option value="zh">Chino</option>

</select>

 <label for="idiomas">A el Idioma: </label>
<select id="idiomas" name="idioma2">
<option value="es">Español</option>
<option value="en">Inglés</option>
<option value="de">Alemán</option>
<option value="af">Afrikaans</option>
<option value="sq">Albanés</option>
<option value="ar">Árabe</option>
<option value="hy">Armenio</option>
<option value="az">Azerbaiyano</option>
<option value="eu">Vasco</option>
<option value="be">Bielorruso</option>
<option value="bn">Bengalí</option>
<option value="bs">Bosnio</option>
<option value="ca">Catalán</option>
<option value="hr">Croata</option>
<option value="cs">Checo</option>
<option value="da">Danés</option>
<option value="nl">Neerlandés</option>
<option value="eo">Esperanto</option>
<option value="et">Estonio</option>
<option value="tl">Filipino</option>
<option value="fi">Finlandés</option>
<option value="fr">Francés</option>
<option value="gl">Gallego</option>
<option value="ka">Georgiano</option>
<option value="el">Griego</option>
<option value="gu">Gujarati</option>
<option value="ht">Criollo haitiano</option>
<option value="ha">Hausa</option>
<option value="he">Hebreo</option>
<option value="hi">Hindi</option>
<option value="hu">Húngaro</option>
<option value="is">Islandés</option>
<option value="ig">Igbo</option>
<option value="id">Indonesio</option>
<option value="ga">Irlandés</option>
<option value="it">Italiano</option>
<option value="ja">Japonés</option>
<option value="jw">Javanés</option>
<option value="kn">Kannada</option>
<option value="kk">Kazajo</option>
<option value="km">Jemer</option>
<option value="ko">Coreano</option>
<option value="ku">Kurdo</option>
<option value="ky">Kirguís</option>
<option value="la">Latín</option>
<option value="lv">Letón</option>
<option value="lt">Lituano</option>
<option value="lb">Luxemburgués</option>
<option value="mk">Macedonio</option>
<option value="ml">Malayalam</option>
<option value="mn">Mongol</option>
<option value="mi">Maorí</option>
<option value="mr">Marathi</option>
<option value="my">Birmano</option>
<option value="ne">Nepalí</option>
<option value="no">Noruego</option>
<option value="ny">Nyanja</option>
<option value="or">Odia</option>
<option value="om">Oromo</option>
<option value="ps">Pastún</option>
<option value="fa">Persa</option>
<option value="pl">Polaco</option>
<option value="pt">Portugués</option>
<option value="pa">Panjabi</option>
<option value="qu">Quechua</option>
<option value="ro">Rumano</option>
<option value="ru">Ruso</option>
<option value="sr">Serbio</option>
<option value="si">Cingalés</option>
<option value="sk">Eslovaco</option>
<option value="sl">Esloveno</option>
<option value="so">Somalí</option>
<option value="es">Español</option>
<option value="su">Sundanés</option>
<option value="sw">Suajili</option>
<option value="sv">Sueco</option>
<option value="tg">Tayiko</option>
<option value="ta">Tamil</option>
<option value="te">Telugu</option>
<option value="th">Tailandés</option>
<option value="tr">Turco</option>
<option value="uk">Ucraniano</option>
<option value="ur">Urdu</option>
<option value="vi">Vietnamita</option>
<option value="cy">Galés</option>
<option value="xh">Xhosa</option>
<option value="yi">Yidis</option>
<option value="zu">Zulú</option>
<option value="zh">Chino</option>


</select>
<p>
<button type="submit">Traducir</button>
<div id="traduccion" onclick="copiar()">
{{ contenido|safe }}

 </div>
</form>
 </div>
 <script>
 document.addEventListener("DOMContentLoaded", function() {
var contenidoDiv = document.getElementById("traduccion");
if (contenidoDiv.innerHTML.trim() !== "") {
contenidoDiv.style.display = "block";
}
});

function copiar() {
const contenido = document.getElementById('traduccion').innerText;
const textarea = document.createElement('textarea');
textarea.value = contenido;
document.body.appendChild(textarea);
textarea.select();
document.execCommand('copy');
document.body.removeChild(textarea);
alert('¡Texto copiado!');
}
 </script>
</body>
</html>